.ddd{
color: #00ffff;

font-family:Comfortaa;

font-weight: 700;
}
.dam{
 
width: 700px;
border:7px solid gold;
}

h2{
font-size: 100px;
   color:green;
   font-family: Comfortaa;
   font-weight: 700;
}

.jgj{
font-size: 50px;
font-family:Comfortaa;
}
.gama{
font-size: 50px;
font-family:Rubik Moonrocks ;
color: ghostwhite;
}
